.layout {
  display: flex;
  padding-top: 3vh;
}
.layout-left-bar {
  padding: 0 3vw 0 10vw;
  width: 30vw;
}

.studio-layout-info,
.home-layout-info {
  padding: 0 3vw 0 10vw;
  width: 36vw;
}
.menu-left-bar {
  padding: 0 3vw 0 10vw;
  width: 37vw;
}
.layout-content {
  width: -webkit-fill-available;
  padding-right: 4vw;
}
.layout-header {
  margin-bottom: 5vh;
}
.layout-header h1 {
  font-family: Source Serif Pro;;
  font-weight: 600;
  font-size: 50px;
  line-height: 63px;
  letter-spacing: 0.12em;
}
.layout-content-info {
  display: flex;
  color: #0f1938;
}
.layout-content-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  width: 100%;
  margin-top: 10vh;
}
.layout-content-info-name {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.05em;
}
.residential-selected-project-layout-content {
  margin-left: -10vw;
}
.layout-content-info-header {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.05em;
}
.layout-header-pages {
  display: flex;
}
.layout-header-pages p {
  font-family: Segoe UI;
  margin: 0vw 3vw 0.2vw 0;
  font-weight: 300;
  cursor: pointer;
}
.active {
  font-weight: 500 !important;
}
.layout-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
}

.file-input {
  padding: 7vh 1.5vw;
  min-width: 7vw;
  max-height: 19vh;
  cursor: pointer;
  border: 2px dashed #0f1938;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.file-input p {
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
}
.layout-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-content-info {
  margin-bottom: 1vw;
}
